body {
        font-family: Monospace;
        background-color: #f0f0f0;
        margin: 0px;
        overflow: hidden;
        font-size: 16px;

}

#oldie { background-color: #ddd !important }

#homescreen{
	background-image: url('walken5.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #d4d1be;
	display: none;
}

#arena{
	display: none;
}

#home, #config{
	width: 70%;
	margin-left: 5%;
	padding-top: 10%;
}

#config{
	display: none;
}

#config>ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#config>ul>li{
	
	padding: 4px;
	text-align: center;
	width: 300px;
	cursor: pointer;
	margin-bottom: 3px;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bt_config_save{
	width: 310px;
	padding: 8px;
	margin-top: 20px;
	background-color: black;
	color:white;
}

h2, h3, h4 {
	margin: 0;
	color: #333;
}

.speed{
	font-size: 20px;
	color: #666;
}

h2{
	font-size: 500%;
}

button{
	padding: 10px 30px;
	background-color: #fff;
	border: 0;
	margin-top: 40px;
	cursor: pointer;
}

#bt_run{
	margin-left: 10px;r
}

#game_over{
	margin:auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	position:absolute;
	width:100%;
	height:300px;
	text-align:center;
	background-color: rgba(0,0,0,.7);
	font-size: 1000%;
	color: #fff;
	text-align: center;
	line-height: 300px;
	display: none;
}

#interface{
	display: block;
	position: absolute;
	right: 20px;
	top: 10px;
	width: 150px;
	list-style: none;
	color: #999;
	padding: 0;
}

#interface li{
	text-align: center;
	padding: 10px 0;
	background-color: rgba(255,255,255,.7);
}

#turns{
	margin-bottom: 5px;
	font-size: 3em;
	color: #0074D9;
	padding-top: 0 !important;
} 

#speed{
	color: #0074D9;
}

.text_info{
	font-size: 20px !important;
}